.title{
    background-color: rgba(145, 255, 0, 0.541);
    width: 300px;
    display: block;
    padding: 8px;
    text-align: center;
    border: 0 solid black;
    border-bottom-width: 1px;
    font-weight: bold;
    margin-left: -15px;
}

.newBoard{
    margin-bottom: 10px;
    padding: 10px;
}

tr td:hover{
    background: #e4e4e4;
}

body{
    margin-top: 30px;
}

ul{
    width: 280px;
    margin-left: 0 !important;
}

ul li {
    margin-left: -15px !important;
    border-radius: 0;
    border: 0 !important;
}

.enter{
    margin-left: 100px;
}

div.message {
    overflow-y: scroll;
    resize: none;
    height: 100px;
}